<main class="dashboard">
  <app-header [title]="'Dashboard-student'"></app-header>

  <div class="cards-grid">
      <!-- Card 1: Điểm trung bình -->
      <div class="card">
          <img class="card-icon"
               src="https://storage.googleapis.com/a1aa/image/gJ7i79XKw2d50XSRKk2Ohq_Fq_OdSe8Oj_20nq0HgZk.jpg"
               alt="GPA icon">
          <div class="card-value">0</div>
          <div class="card-label">Điểm trung bình</div>
      </div>

      <!-- Card 2: Bài tập đã hoàn thành -->
      <div class="card">
          <img class="card-icon"
               src="https://storage.googleapis.com/a1aa/image/checkmark-icon.png"
               alt="Completed icon">
          <div class="card-value">0</div>
          <div class="card-label">Bài tập đã hoàn thành</div>
      </div>

      <!-- Card 3: Bài kiểm tra sắp tới -->
      <div class="card">
          <img class="card-icon"
               src="https://storage.googleapis.com/a1aa/image/calendar-icon.png"
               alt="Exams icon">
          <div class="card-value">0</div>
          <div class="card-label">Bài kiểm tra sắp tới</div>
      </div>

      <!-- Card 4: Thời gian học -->
      <div class="card">
        <img class="card-icon"
             src="https://storage.googleapis.com/a1aa/image/warning-icon.png"
             alt="Pending icon">
        <div class="card-value">3</div>
        <div class="card-label">Bài tập chưa làm</div>
    
      </div>
  </div>

  
</main>
