<main class="dashboard">
  <app-header [title]="'Dashboard-student'"></app-header>

  <!-- Thông tin học sinh -->
  <section class="student-info-card">
    <h2>Thông tin học sinh</h2>
    <div class="info-grid">
      <p><strong>Họ tên:</strong> {{ student.fullName }}</p>
      <p><strong>Lớp:</strong> {{ student.class }}</p>
      <p><strong>Email:</strong> {{ student.email }}</p>
    </div>
  </section>

  <!-- Thống kê -->
  <div class="cards-grid">
    <div class="card">
      <img class="card-icon" src="../images/exam.png" alt="GPA icon">
      <div class="card-value">{{ averageScore }}</div>
      <div class="card-label">Điểm trung bình</div>
    </div>

    <div class="card">
      <img class="card-icon" src="../images/quality-control.png" alt="Completed icon">
      <div class="card-value">{{ completedExams }}</div>
      <div class="card-label">Bài thi đã hoàn thành</div>
    </div>
  </div>

  <!-- Biểu đồ điểm -->
<div class="charts-row">
  <div class="chart-box">
    <h3>Biểu đồ 6 bài thi gần nhất</h3>
    <canvas id="scoreChartLine"></canvas>
  </div>

  <div class="chart-box">
    <h3>Biểu đồ 6 bài thi gần nhất</h3>
    <canvas id="scoreChartBar"></canvas>
  </div>
</div>
</main>
