<main class="dashboard">
  <app-header [title]="'Dashboard-student'"></app-header>

  <div class="cards-grid">
      <!-- Card 1: Điểm trung bình -->
      <div class="card">
          <img class="card-icon"
               src="..\images\exam.png"
               alt="GPA icon">
          <div class="card-value">0</div>
          <div class="card-label">Điểm trung bình</div>
      </div>

      <!-- Card 2: Bài tập đã hoàn thành -->
      <div class="card">
          <img class="card-icon"
               src="..\images\quality-control.png"
               alt="Completed icon">
          <div class="card-value">0</div>
          <div class="card-label">Bài thi đã hoàn thành</div>
      </div>

      <!-- Card 3: Bài kiểm tra sắp tới -->
      <div class="card">
          <img class="card-icon"
               src="..\images\deadline.png"
               alt="Exams icon">
          <div class="card-value">0</div>
          <div class="card-label">Bài thi sắp tới</div>
      </div>

      <!-- Card 4: Tiến độ học tập -->
<div class="card">
  <img class="card-icon"
       src="..\images\roadmap.png"
       alt="Progress icon">
  <div class="card-value">65%</div>
  <div class="card-label">Tiến độ học tập</div>
</div>
  </div>


</main>
