<nav class="sidebar" [class.expanded]="isExpanded"
     (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

  <div class="profile">
    <img src="../images/Logo.png" alt="Logo" />
    <div class="username" [class.visible]="isExpanded">{{ displayName }}</div>
  </div>

  <div class="menu-items">
    <div class="menu-item"
         *ngFor="let item of menuItems"
         [class.active]="item.route === currentRoute"
         (click)="navigateTo(item.route)"
         [attr.title]="!isExpanded ? item.label : null">
      <i class="fas {{ item.icon }}"></i>
      <span class="menu-label" [class.visible]="isExpanded">{{ item.label }}</span>
    </div>
  </div>
</nav>
